
footer{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #b40057;
    color: #fff;
    padding-bottom: 20px;
}

header .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: 1.3rem;
}

.footer.title{
    padding-top: 30px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: .1rem;
    font-weight: 300;
    margin: 0;
}
.footer.subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer.span{
    font-family: 'Thinman';
    font-size: 2.6rem;
    letter-spacing: .65rem;
    font-weight: 100;
    margin: 55px 0 0;
}
.footer > p{
    letter-spacing: .1rem;
    font-weight: 100;    
    font-size: 1.25rem;
}


.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
}
.laursa-footer{
    display: flex;
    width: 300px; 
    margin-bottom: 20px;
}

hr{
    width: 70vw;
}

.section-creattors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    }

    .creattors{
    display: flex;
    flex-direction: row;
    }

    .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 15px;
    }

    .name > h4{
    font-size: 1rem;
    color:#ffffff;
    }
    
    .link-creattor{
    text-decoration: none;        
    color:#ffffff;
    }
    .link-creattor:hover{
    text-decoration: none;        
    color:#f9c6dfe3;
}
    /* .icons-footer{
        display: flex;
        flex-direction: row;        
        margin: 5px;
    }

    .icons-footer img{
    padding: 3px;
    width: 35px;
} */


.span-footer{
    color: #e59abee3;
    font-weight: 600;
    padding: 15px 0px;
    font-size: 1rem;
}

.direitos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: #fff;
    background-color: #77003a;
    font-family: "Roboto Condensed";
    font-size: .8rem;
    letter-spacing: .2rem;
}
