@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Thinman';
    src: url(../assets/fonts/thinman/thinman.ttf);
}

*{
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Thinman';
    color: #fff;
    letter-spacing: .5rem;
    font-weight: 100;
} 

main{
    background-color: #EA7209;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.head-sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    font-size: 2rem;
}

.head-sections.icon-brilho{
    width: 50px;
    height: 50px;
    padding: 0px 10px;
}
