
.nav-bar{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 40px 0;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-links > img{
    width: 40px;
    top: -2px;
}
.nav-links > li {
    list-style: none;
    padding: 0px 20px;
}
.nav-links > li > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Thinman';
    font-size: 1.2rem;
    letter-spacing: .3rem;
}

.nav-links > li > a:hover {
    border-bottom: 2px solid #ffffff53;
    padding-bottom: 7px;
}

.header-banner{
    background-image: url(../assets/img/header-banner/ceu-bg-2.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    color: #fff;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
    top: -30px;
}
.text-box h1{    
    font-size: 1.1rem;
    font-weight: 100;
    /* font-family: 'Thinman';     */
    letter-spacing: 1rem;
    padding: 40px 0 40px;
}
.text-box span{
    font-size: 5rem;
    letter-spacing: .65rem;
    font-weight: 200;
    font-family: 'Roboto Condensed';
}

.text-box .conheca{
    position: relative;
    left: -560px;
    font-size: 2rem;
    font-weight: 100;
}
.text-box .mundo{
    font-size: 1.5rem;
}

.text-box .mundo::after{
    display: block;
    content:"";
    width:100px;
    height:2px;
    background-color: #ffffffc5;
    position: relative;
    left: 540px;
    top: -16px;
}

.text-box .mundo::before{
    display: block;
    content:"";
    width:100px;
    height:2px;
    background-color: #ffffffc5;
    position: relative;
    left: 885px;
    top: 16px;
}
.text-box hr{
    height: 2px;
    width: 80vw;
    margin: 0;
}
.text-box p{
    font-weight: 300;
    color: #ffffff;
    position: relative;
    top: 200px;
    left: 240px;
    font-size: 1.5rem;
}

.background img{
    width: 100%;
    height: 230px;
    position: relative;
    top: -135px;
}