
.nav-bar{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 40px 0;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-links > img{
    width: 25px;
}
.nav-links > li {
    list-style: none;
    padding: 0px 20px;
}
.nav-links > li > a {
    text-decoration: none;
    color: #fff;
    font-family: 'Thinman';
    font-size: 1.2rem;
    letter-spacing: .3rem;
}

.nav-links > li > a:hover {
    border-bottom: 2px solid #ffffff53;
    padding-bottom: 7px;
}

.header-banner{
    background-image: url(../assets/img/header-banner/ceu-bg-1.png);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    color: #fff;
    height: 100vh;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 100px;
    font-weight: 100;
}

.background img{
    width: 100vw;
    height: 230px;
    position: relative;
    top: -80px;
}