
* {
  box-sizing: border-box;
}

.section-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-brilho{
  width: 60px;
  position: relative;
  top: -10px;
  right: 8px;
  padding: 10px;
}
.banner-history {
  background-color: #2d68aa;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  width: 1000px;
  height: 160px;
  margin: 20px 0 2px 0;
  text-align: center;
  color: white;

  background-color: #0363AD;
  box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
  -webkit-box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
  -moz-box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;

}
.banner-history h3 {
  margin: 10px 0 ;
  font-size: 3.3rem;
  font-style: italic;
  letter-spacing: 4px;
  font-weight: 400;
}
.banner-history span {
  font-size: 1.7rem;
  font-weight: 200;
}
.banner-history img {
  position: absolute;
  transform: translateY(-50%);
}
.banner-history img.left {
  left: 10px;
  height: 90%;
  top: 56%;

}
.banner-history img.right {
  right: 5px;
  height: 90%;
  top: 56%;
}

/*.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid white;
    right: 40px;
    top: 0;
  }
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
 
.timeline__item {
  color: #fff;
  padding: 1rem;
  border: 2px solid white;
  border-image: linear-gradient(to right, color 0%,  100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
  
  &:after,
  &:before {
    content: '';
    position: absolute;
  }
  
  &:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: white transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
}

.timeline__item--year {
    text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: transparent;
  line-height: 1;
  border-image: none;
  padding: .5rem 1rem 1rem;
  
  &:before {
    display: none;
  }
  
} 

.timeline__title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: .5rem 0 0;
}
*/


/* TIMELINE STYLE */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.subtitle span {
  font-size: 14px;
  display: block;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  }
  .timeline img {
  width: 25%;
  position: relative;
  right: -38%;
  top: -10%;
}
.event {
  position: absolute;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 200px;
  }
  .event img {
  width: 100%;
  }
  .event:nth-child(1) {
  top: 10%;
  left: 10%;
  }
  .event:nth-child(2) {
  top: 20%;
  left: 40%;
  }
  .event:nth-child(3) {
  top: 50%;
  left: 10%;
  }
  .event:nth-child(4) {
  top: 80%;
  left: 50%;
}