
* {
  box-sizing: border-box;
}

.section-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-history {
  background-color: #2d68aa;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  width: 1000px;
  height: 160px;
  margin: 20px 0 2px 0;
  text-align: center;
  color: white;

  background-color: #0363AD;
  box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
  -webkit-box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
  -moz-box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
  border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;

}
.banner-history h3 {
  margin: 10px 0 ;
  font-size: 3.3rem;
  font-style: italic;
  letter-spacing: 4px;
  font-weight: 400;
}
.banner-history span {
  font-size: 1.7rem;
  font-weight: 200;
}
.banner-history img {
  position: absolute;
  transform: translateY(-50%);
}
.banner-history img.left {
  left: 10px;
  height: 90%;
  top: 56%;

}
.banner-history img.right {
  right: 5px;
  height: 90%;
  top: 56%;
}


/* TIMELINE STYLE */
.container {
  position: relative;
  text-align: center;
  color: white;
}

.subtitle span {
  font-size: 14px;
  display: block;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  }
  .timeline img {
  width: 25%;
  position: relative;
  right: -38%;
  top: -10%;
}
.event {
  position: absolute;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 390px;
  }
  .event img {
  width: 100%;
  }
  .event:nth-child(1) {
  top: 10%;
  left: 10%;
  }
  .event:nth-child(2) {
  top: 20%;
  left: 40%;
  }
  .event:nth-child(3) {
  top: 50%;
  left: 10%;
  }
  .event:nth-child(4) {
  top: 80%;
  left: 50%;
}