
* {
  box-sizing: border-box;
}

.section-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-history{
  background-image: url(../assets/shapes/fundo-history.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  width: 1200px;

  /*background-color: #0363AD;
  padding: 10px 0 0 0; */
}

.figures{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
  
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    border: 1px solid white;
    right: 40px;
    top: 0;
  }
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.timeline__item {
  
  padding: 1rem;
  border: 2px solid white;
  border-image: linear-gradient(to right, color 0%,  100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
  
  &:after,
  &:before {
    content: '';
    position: absolute;
  }
  
  &:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: white transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
}

.timeline__item--year {
    text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: transparent;
  line-height: 1;
  border-image: none;
  padding: .5rem 1rem 1rem;
  
  &:before {
    display: none;
  }
  
}

.timeline__title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: .5rem 0 0;
}