
.reciclube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 100px;
    background-color: #0363AD;
    color: #fff;
}

.reciclube.fundo{
    border: 1px solid white;
    box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
    -webkit-box-shadow: 1px -1px 23px 0px rgba(255, 255, 255, 0.884);
    -moz-box-shadow: 1px -1px 23px 0px rgba(255,255,255,0.84);
}

.header.reciclube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    font-size: 3rem;
}

.title.reciclube{
    display: flex;
    flex-direction: row;
}
.title.reciclube > img{
    width: 60px;
    position: relative;
    top: -1px;
    right: 8px;
    padding: 5px;
}

.stickers:hover{
    transform: translateY(-10px);
}

.text-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.section-preco{
    display: flex;
    flex-direction: column;
    }

    .h3-assinatura{
        margin-top: 50px;
        font-size: 2rem;
    }

    .preco-relative{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*margin: 100px;*/
    }
    .centavos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1300px;
    opacity: 0.45;
    }

    .span-preco{
    position: relative;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #E3006D;
    font-size: 25rem; color: #fffdd9;
    font-family: "Varela", sans-serif;
    rotate: -5deg;
    }

    .span-pocasal{
        margin-bottom: 50px;
        position: relative;
        top: -60px;
    }

    .ballon-rs{
    position: relative;
    width: 170px;

}


.reciclube--title{
    font-size: 3.5rem;
}