
.section-tourism{
    margin: 50px;
    background-color: #0363AD;
    border-radius: 10px;
    height: 600px;
    position: relative;
    z-index: 1;

}

.header-tourism{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 50px;
}

.head-tourism{
    font-size: 2rem;
}

.busao-brt.front{
    display: flex;
    position: absolute;
    right: 0px;
    top: 10px;
}
.busao-brt.front:hover{
    animation: moveToLeft 2s ease-in-out;
    animation-delay: 500ms;
    z-index: 0;
}

@keyframes moveToLeft {
    0% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(100px);
    }
}

.busao-brt.back{
   display: flex;
   position: absolute;
   bottom: 10px;
   left: 0;
}