
.section-tourism{
    margin: 50px;
    background-color: #0363AD;
    border-radius: 10px;
    height: 600px;
    position: relative;
}

.header-tourism{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.head-tourism{
    font-size: 2rem;
}

.busao-brt.front{
    display: flex;
    position: absolute;
    right: 0;
    top: 10px;
}
.busao-brt.back{
   display: flex;
   position: absolute;
   bottom: 10px;
   left: 0;
}